.App {
  font-family: sans-serif;
  text-align: center;
}

.App footer {
  font-size: 10px;
  padding-top: 40px;
  margin: 0px auto;
  text-align: center;
  display: block;
}
.App .container {
  padding: 20px;
  margin: 10px auto;
  max-width: 600px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  text-align: center;
  display: block;
  padding-top: 40px;
}
