.App {
  font-family: sans-serif;
  text-align: center;
}

.App footer {
  font-size: 10px;
  padding-top: 40px;
  margin: 0px auto;
  text-align: center;
  display: block;
}

.Search li {
  text-align: left;
  font-size: 11px;
}

.Search form {
  text-align: center;
  border: 1px solid #f9f7fe;
  margin-top: 4px;
  color: #8064e9;
  padding: 30px auto;
  display: block;
  font-size: 11px;
}

.WeatherInfo p {
  font-size: 12px;
}

.WeatherInfo canvas {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  display: inline-block;
}

.App .container {
  padding: 20px;
  margin: 10px auto;
  max-width: 600px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  text-align: center;
  display: block;
}

.WeatherInfo #current-left {
  text-align: center;
  position: relative;
  top: 40px;
  line-height: 0.5em;
}

.WeatherInfo #current-right {
  text-align: center;
  position: relative;
  top: 90px;
}

.Search button {
  border-radius: 25px;
  border: 1px solid #8064e9;
  background: #8064e9;
  color: #fff;
  font-size: 11px;
  display: inline-block;
  margin: 0 auto;
  line-height: 15px;
  padding: 8px 12px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

.Search button:hover {
  cursor: pointer;
  background: #5e41a7;
}
