.App {
  font-family: sans-serif;
  text-align: center;
}

.App footer {
  font-size: 10px;
  padding-top: 40px;
  margin: 0px auto;
  text-align: center;
  display: block;
}

.Search li {
  text-align: left;
  font-size: 11px;
}

.Search form {
  text-align: center;
  border: 1px solid #f9f7fe;
  margin-top: 4px;
  color: black;
  padding: 30px auto;
  display: block;
  font-size: 11px;
  padding-bottom: 40px;
}

.WeatherInfo li {
  font-size: 12px;
  list-style-type: none;
  text-align: left;
}

.WeatherInfo h1 {
  font-weight: 700;
  font-size: 38px;
  display: block;
}

.WeatherInfo canvas {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.App .container {
  padding: 20px;
  margin: 10px auto;
  max-width: 600px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  text-align: center;
  display: block;
  padding-top: 40px;
}

.WeatherInfo .temperature-contaienr {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

.WeatherTemperature .temperature {
  font-size: 70px;
  vertical-align: top;
  font-weight: 700;
}

.WeatherTemperature .unit {
  font-size: 18px;
  vertical-align: text-top;
}
