.App {
  font-family: sans-serif;
  text-align: center;
}

.App footer {
  font-size: 10px;
  padding-top: 40px;
  margin: 0px auto;
  text-align: center;
  display: block;
}

.Search li {
  text-align: left;
  font-size: 11px;
}

.Search form {
  text-align: center;
  border: 1px solid #f9f7fe;
  margin-top: 4px;
  color: #8064e9;
  padding: 30px auto;
  display: block;
  font-size: 11px;
}

.WeatherInfo li {
  text-decoration: none;
  font-size: 12px;
}

.WeatherInfo canvas {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  display: inline-block;
}

.App .container {
  padding: 20px;
  margin: 10px auto;
  max-width: 600px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  text-align: center;
  display: block;
}

.WeatherTemperature .temperature {
  font-size: 48px;
}

.WeatherTemperature .unit {
  font-size: 8px;
  vertical-align: top;
}

.WeatherInfo #current-left {
  text-align: center;
  position: relative;

  line-height: 0.5em;
}

.WeatherInfo #current-right {
  text-align: center;
  position: relative;
}
